# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go files
[*.go]
indent_style = tab
indent_size = 4

# YAML files (including .yml)
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
# Don't trim trailing whitespace in Markdown (needed for line breaks)
trim_trailing_whitespace = false

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# go.mod and go.sum files
[go.{mod,sum}]
indent_style = tab